<!DOCTYPE html>
<html lang="<%= language %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% if document %>
    <title><%= h document.title %></title>
    <% elsif no_translation %>
    <meta name="robots" content="noindex, nofollow">
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate">
    <title><%= h t 'no-translation.title' %></title>
    <% end %>
    <link rel="stylesheet" href="<%= h attach_cache_id '../style.css' %>">
  </head>
  <body>
    <header>
      <div class="header-inner">
        <div class="site-name"><%= h t 'site-name' %></div>
        <nav>
          <ol>
            <li class="nav-item nav-project-toc">
              <button><%= h t 'site-nav-manual' %></button>
              <div class="nav-menu-container">
                <ol class="nav-menu">
                  <li><a href=".">
                    <span class="toc-menu-title"><%= h t 'site-nav-manual' %></span>
                    <span class="toc-menu-home"><%= h t 'site-nav-manual-home' %></span>
                  </a></li>
                  <%= manual_toc %>
                </ol>
              </div>
            </li>
            <% if page_toc %>
            <li class="nav-item nav-page-toc">
              <button title="<%= h t 'toc-title' %>"><i class="fa-solid">&#xf03a;</i></button>
              <div class="nav-menu-container">
                <ol class="nav-menu">
                  <li><a href="#top">
                    <span class="toc-menu-title"><%= h document.title %></span>
                  </a></li>
                  <%= page_toc %>
                </ol>
              </div>
            </li>
            <% end %>
            <li class="nav-item">
              <button title="<%= h t 'site-nav-langs' %>"><i class="fa-solid">&#xf1ab;</i>&ensp;<%= lang_name language %></button>
              <div class="nav-menu-container">
                <ol class="nav-menu">
                  <% languages.each do |lang| %>
                  <li><a lang="<%= lang %>" href="../<%= lang %>/<%= output_filename.sub(/index\.html$/, '') %>">
                    <%= lang_name lang %>
                  </a></li>
                  <% end %>
                </ol>
              </div>
            </li>
          </ol>
        </nav>
      </div>
    </header>
    <main>
      <% if document %>
      <article>
        <h1><%= h document.title %></h1>
        <%= document.content %>
      </article>
      <% elsif no_translation %>
      <div>
        <h1><%= h t 'no-translation.title' %></h1>
        <p><%= h t 'no-translation.content' %></p>
        <ul class="action-list">
          <li><a href="../<%= languages.default %>/<%= output_filename.sub(/index\.html$/, '') %>"><%= h t 'no-translation.read-source-lang' %></a></li>
          <li><a href="https://crowdin.com/project/createfactorycontroller"><%= h t 'no-translation.help-translate' %></a></li>
        </ul>
      </div>
      <% end %>
    </main>
  </body>
</html>
