<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= h document.title %></title>
    <link rel="stylesheet" href="<%= h attach_cache_id '../style.css' %>">
  </head>
  <body>
    <header>
      <div class="header-inner">
        <div class="site-name"><%= h t 'site-name' %></div>
        <nav>
          <ol>
            <li class="nav-item">
              <button><%= h t 'site-nav-manual' %></button>
              <div class="nav-menu-container">
                <ol class="nav-menu">
                  <li><a href="."><%= h t 'site-nav-manual-home' %></a></li>
                <% manual_toc.blocks.each do |toc_item| %>
                  <li>
                    <%= toc_item.text %>
                    <%= toc_item.content %>
                  </li>
                <% end %>
                </ol>
              </div>
            </li>
          </ol>
        </nav>
      </div>
    </header>
    <main>
      <article>
        <h1><%= h document.title %></h1>
        <%= document.content %>
      </article>
    </main>
  </body>
</html>
